# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
*.sqlite3

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
node_modules/
dist/

# Environment Variables
.env
backend/.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
